 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="about-inner">
                    <div class="col-lg-4 col-lg-offset-2">
                        <div class="person-about">
                            <h3 class="about-subtitle">Description</h3>
                            <p>Hello, I'm an android developer from Indonesia. I'm working with operating system for android especially kernel and android source codes</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="person-info">
                            <h3 class="about-subtitle">Personal Information</h3>
                            <h5><span>Name    : </span>Khusika Dhamar Gusti</h5>
                            <h5><span>Email   : </span>khusikadhamar@gmail.com</h5>
                            <h5><span>Address : </span> Sidoarjo, East Java, Indonesia</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://goo.gl/xGvRDv" target="_blank" class="btn btn-lg btn-success">
                    <i class="fa fa-download"></i> VIEW RESUME
                </a>
            </div>
        </div>
    </section>
