<!-- Hobby section -->
<section id="hobby">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>I DO & I LIKE</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="hobby-item">
          <i class="fa fa-fw fa-android"></i>
          <h4>OS Development</h4>
          <p>I am interested in the development of android operating system, and i'am one of the contributors in lineageosrom.net</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="hobby-item">
          <i class="fa fa-fw fa-mobile"></i>
          <h4>Apps Development</h4>
          <p>I started application development especially android application when I was in university, and now have some application that I have made</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="hobby-item">
          <i class="fa fa-fw fa-image"></i>
          <h4>Graphic Designer</h4>
          <p>I am interested in vector designs, such as logo creation, visual identity, etc. I have also been in the design world since I was in university</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="hobby-item">
          <i class="fa fa-fw fa-linux"></i>
          <h4>Linux Enthusiast</h4>
          <p>I am one of the fans of linux based operating system. All devices to support my hobby in the world of technology and linux based information. Like gimp, inkscape, and android studio</p>
        </div>
      </div>
    </div>
  </div>
</section>
