
    <!-- Project Grid Section -->
    <section id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Project</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div align="center">
                    <button class="btn btn-default filter-button" data-filter="all">All</button>
                    <button class="btn btn-default filter-button" data-filter="os">Android OS</button>
                    <button class="btn btn-default filter-button" data-filter="apps">Android Apps</button>
                    <button class="btn btn-default filter-button" data-filter="graphic">Design Graphic</button>
                </div>
                <br/>
                {% for post in site.posts %}
                    <div class="col-sm-4 project-item">
                        <a href="#projectModal-{{ post.modal-id }}" class="project-link filter {{ post.class-id }}" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/project/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
